.idea
.vscode
node_modules
.coverage
/playwright-report/
/test-results/
/playwright/.cache/
/.local-browsers/
/allure-results/
/.allure/
*storybook.log
storybook-static

# E2E test data
src/__mocks__/response/e2e.json
